html, body {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.calculator {
	display: flex;
	height: 600px;
	width: 400px;
	border: solid 2px #000000;
	background: #c3c3c3;
	border-radius: 5px;
	padding: 10px;
	flex-wrap: wrap;	
}

.display {
	width: 100%;
	height: 80px;
	border: solid 2px #000000;
	background: #ececec;	
}

.keypad {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.keys {
	width: 80px;
	height: 80px;
	border: solid 2px #000000;
	background: #ececec;	
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 48px;
	cursor: pointer;
}
