html, body {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	background: #f5dfbb;
	font-family: "Nova Square";
}

/*#562c2c, #f2542d, #f5dfbb, #0e9594, #127475*/

.calculator {
	display: flex;
	height: 600px;
	width: 400px;
	background: #00000040;
	border-radius: 24px;
	padding: 10px;
	flex-wrap: wrap;	
}

.display {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	width: 100%;
	height: 80px;
	border: solid 2px #000000;
	background: #ececec;	
	padding: 10px;
	font-size: 18px;
	border-radius: 24px;
}

.buffer {
	display: flex;
	justify-content: flex-end;
	height: 33%;
	background: #ff0000;
	font-size: 24px;
}

.activeDisplay {
	display: flex;
	justify-content: flex-end;
	height: 66%;
	font-size: 48px;
}

.keypad {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.keys {
	width: 80px;
	height: 80px;
	border: dashed 2px #000000;
	border-radius: 40px;
	background: #ececec;	
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 48px;
	cursor: pointer;
	box-shadow: 6px 6px #999;
}

.keys:active {
	background-color: #ff0000;
	box-shadow: 2px 2px #666;
	transform: translateY(4px);
}
