html, body {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	background: #ffffff;
	font-family: "Roboto";
	white-space: pre-wrap;
	font-weight: 400;
}

.calculator {
	display: flex;
	width: 400px;
	padding: 10px;
	flex-wrap: wrap;	
}

.display {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	width: 100%;
	height: 40px;
	background: #ffffff;	
	border: solid 1px #dadce0;
	padding: 10px;
	border-radius: 4px;
	margin: 10px 10px;
	font-weight: 300;
}

.display:hover {
	box-shadow: inset 0px 1px #70757a;
}

#displayExpression {
	display: flex;
	justify-content: flex-end;
	height: 33%;
	font-size: 12px;
	color: #70757a;
}

.activeDisplay {
	display: flex;
	justify-content: flex-end;
	height: 66%;
	font-size: 24px;
	font-weight: 400;
	gap: 5px;
}

.keypad {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 10px 10px;
	gap: 10px;
}

.keys {
	width: 80px;
	height: 30px;
	border-radius: 4px;
	background: #f1f3f4;	
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	cursor: pointer;
	border: solid 1px #ffffff00;
	box-shadow: 0px 1px 1px 1px #ffffff00;
	user-select: none;
	-webkit-user-select: none;
}

.keys#operator,
.keys#clear {
	background: #dadce0;
}

.keys#calc {
	background: #4285f4;
	color: #ffffff;
}

.keys:active {
	border: solid 1px #70757a;
	box-shadow: 0px 1px 5px 1px #00000030;
}

.keys#calc:active {
	border: solid 1px #70757a;
	box-shadow: 0px 1px 5px 1px #4285f450;
}
